<div class="container">
  
    <div class="row">
    <div class="col align-self-center">
        <h4>ROOM {{movie.id}} {{movie.title}}</h4>
        <img src="{{movie.poster}}">
        

    </div>
        <div class="col movie" >
          <p><b>Genres</b> {{movie.genres}}</p>
          <p><b>Year </b>{{movie.year}}</p>
          <p><b>Director</b> {{movie.director}}</p>
          <p><b>Actors</b> {{movie.actors}}</p>
          <p><b>Schedule</b> {{movie.hours}}</p>
          <p><b>Synopsis</b></p>
          <p>{{movie.synopsis}}</p>
       
          
        </div>
        
      </div>

      <div class="row"> 
        <div class="col-12 align-self-center">
          <a [routerLink]="['/home']" class="btn btn-primary">Home</a>
      </div>
    </div>
         
    
    
    </div>
   